* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif ;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}


.image-wrapper {
    width: 100%;
    height: auto;
}

.image-wrapper > img {
    max-width: 100%;
}

.attribution { 
    font-size: 14px;
    text-align: center;
 }


.attribution a {
     color: hsl(320, 90%, 45%);
     }
  

.newsletter-info > h1 {
    padding-top: 1rem;
    padding-bottom: 0.9rem;
    font-size: 2.5rem;
    color: hsl(234, 29%, 20%);
}

.newsletter-info {
    color: hsl(235, 18%, 26%);
    padding: 0 1rem 0 ;
}

.newsletter-info > p,
.newsletter-info > ul li {
    line-height: 1.2rem;
    font-size: 16px;
    padding: 0.5rem;
    
    
}

.newsletter-info > ul > li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

li {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.email
 {
    display: block;
    padding: 0 2.5rem 0.5rem;
    font-weight: 800;
}

.input {
    display: block;
    margin: 0 2.5rem 1rem;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%,58%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

label {
    margin-top: 1rem;
}

input[type="email"] {
  padding: 20px 120px 20px 15px;
  cursor: pointer;
}





   input[type="submit"] {
  color: hsl(0, 0%, 100%);
  display: flex;
  width: 82%;
  background-color: hsl(234, 29%, 20%);
  padding: 1.2rem 1rem;
  margin: 0 2.5rem 1rem;
  text-align: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

input[type="submit"]:hover {
    background-color: hsl(4, 100%, 67%);
}
